<div class="col-md-3 mb-3">
    <a href="{{ path('file_naming_patterns_index') }}" class="btn btn-outline-secondary w-100">
        <i class="fas fa-file-code me-2"></i>{{ 'quick_actions.naming_patterns'|trans }}
    </a>
</div>
